<!--Handcrafted page start-->
@model List<ProductModel>
@{
    Layout = "_Layout";
}
<title>Barker - Handcrafted</title>

<div class="container mt-5">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Handcrafted
                <img src="~/img/category_img/barker_cat_handc.jpg" />
            </h2>
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-6 mb-4">
                    <div class="category-card">
                        <a href="/category/handcrafted/@product.Name">
                            <img src="@Url.Content(product.Img[0])" alt="@product.Name" class="img-fluid" />
                            <div class="category-text">
                                <h2>@product.Name</h2>
                                <p>@product.Description</p>
                                <p>Size: @string.Join(", ", product.Size)</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No products found.</p>
    }
</div>
<script src="~/js/bootstrap.js"></script>

<!--Handcrafted page end-->
