@model List<CategoryModel>

@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@category.Img" class="card-img-top" alt="@category.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@category.Name</h5>
                        <p class="card-text">@category.Description</p>
                        <a href="@Url.Action("Category", "Category", new { name = category.Name }, null)" class="btn btn-primary">View Products</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
